body {font-family: 'Open Sans', sans-serif;}

nav {background-color: #0038a8;}

.jumbotron {background-color: #A8cee2;}

.header {margin: 1em 0em 1em 0em;}

.footer {border-top: 1px solid #eeeeee; padding-top: 1em; margin-top: 1em;}
