body {font-family: 'Open Sans', sans-serif;}

.nav { margin-bottom: 1.5em; }

h1 { margin-top: .75em; }

.level { margin-top: 1.5em; }

.badge-framework
{
	font-size: 2.75em;
	display: inline-block;
	text-align: center;
	font-weight: normal;
	width: 100%;
	padding: .5em 0 .5em 0;
}

.bronze { color: #b87333; }
.badge-bronze { background-color: #b87333; }

.silver { color: #c0c0c0; }
.badge-silver { background-color: #c0c0c0; }

.gold { color: #c5b358; }
.badge-gold { background-color: #c5b358; }

.card-columns { column-count: 1; }

@media all and (min-width: 576px) and (max-width: 767px)
{
	.card-columns { column-count: 2; }
}

@media all and (min-width: 768px) and (max-width: 991px)
{
	.card-columns { column-count: 3; }
}

@media all and (min-width: 992px)
{
	.card-columns { column-count: 4; }
}